In [1]:
dict1 = {"Group": [1,2,1,1,2,2,2], "Ctg":['A','A','B','A','B','C','C']}

In [2]:
import pandas as pd

In [4]:
df = pd.DataFrame(dict1)
df

   Group Ctg
0      1   A
1      2   A
2      1   B
3      1   A
4      2   B
5      2   C
6      2   C

### Assignment:1

In [44]:

def func(df):

    dict1 = {}  # Defind a empty dictionary 
    for unique in df['Group'].unique():  # unique to find unique value of Group col
        val = []
        for index, ctg in enumerate (df['Ctg']): # Used enumerate to fatch value with index of row

            if df['Group'][index] == unique:
                val.append(ctg)

        dict1[unique] = ''.join(sorted(set(val)))   # Applied set here to get distinct values, 
                                                    # Sorting to sort the value
                                                    # .Join used to join all element of the list
        
 #   print(dict1)
    
    df2 = pd.DataFrame()  # Empty dataframe
    df2['Group'] = dict1.keys()  # dictionary key
    df2['Ctg'] = dict1.values()  # Dictionary values
    
    return df2   # this function will return desired output

func(df)

   Group  Ctg
0      1   AB
1      2  ABC